.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #ced9ee;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10px;
  font-size: large;
  color: black;
}

.App-link {
  color: #61dafb;
}

.App-subheader {
  color: black;
  font-size: calc(10px + 2vmin);
  font-weight: bold;
  margin-bottom: 10px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.doctor-settings {
  min-width: 80%;
  padding-top: 15px;
}

.boot-settings {
  min-width: 80%;
  padding-top: 15px;
}

hr.solid {
  border-top: 2px solid black;
  min-width: 75%;
}

.module-name {
  font-size: medium;
}

.module-value {
  font-size: xx-large;
  font-weight: bold;
}

.module-unit {
  font-size: large;
  font-weight: bold;
}

.module {
  margin-left: 5px;
  margin-right: 5px;
}

.modules {
  display: flex;
  justify-content: center;
}

.low {
  color: #b99506
}

.good {
  color: #069758
}

.high {
  color: #970628
}

.controls {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.button {
  margin: 10px;
  padding: 10px;
  font-size: larger;
}

.adjust {
  background-color: #76bf9f;
}

.remove {
  background-color: #dd948a;
}